* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


body {
    display: grid;
grid-template-columns: 1fr;

    background:url('ss.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }

/*  %%%%%%%%%%% full responsive header%%%%%%%%%%  */
nav {
    z-index: 10;
    background: rgb(0, 130, 230,0.8);
    height: 80px;
    width: 100%;
    box-shadow: 10px 10px 10px 10px black;
    

}
#navbar{
    z-index: 10;
}
#navbar{
    display: inline-block;
    top:0.000000001px;
    position: sticky;
   
}


label.logo {
    font-family: 'Righteous', cursive;
    margin-left: 50px;
    color: aliceblue;
    font-size: 40px;
    line-height: 80px;
    font-weight: bold;
}

nav ul {
   
    float: right;
    margin-right: 40px;

}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;

}

nav ul li a {
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 7px 20px;
    border-radius: 3px;
    font-family: 'Lato', sans-serif;

}

a:hover {
    background: #1b9bff;
    transition: 0.5s;

}

.checkbtn {
    font-size: 20px;
    color: aliceblue;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
   
}

#check {
    display: none;

}

@media(max-width: 952px) {

    #navbar{
        z-index: 10;
    }
   
    nav{
        z-index: 10;
    }
    label.logo {
        font-size: 25px;
        padding-left: 20px;

    }

    nav ul li a {
        font-size: 20px;

    }
}

@media(max-width:858px) {
    .checkbtn {
        
        display: block;
    }
    #navbar{
        z-index: 10;
    }
   
    nav{
        z-index: 10;
    }


    ul {
        z-index: 8;
       position: fixed;
        width: 100%;
        height: 100%;
        background: #2c3e50;
        top: -100%;
        left: 0px;
        transition: all 0.5s;
        text-align: center;
        
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
      
    }

    nav ul li a {

        font-size: 20px;
    }

    a:hover {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        top: 80px;
    }
}

@media(max-width:400px) {
    label.logo {
        font-size: 22px;
        margin-left: 0px;
    }
}


/*%%%%%%%%%%intro%%%%%%%*/
.intro{
    
    width: 100%;
    z-index: 6;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    color: rgb(0, 0, 0);
   
   
}
.biglogo{ 
    
    border: 20px solid black;
    font-size: 280px;
}
.intro-item{
   
    border: 10px solid #2c3e50;
}
.umax{
    font-size:180px ;
}
.cc{
    font-size: 60px;
}
.extra{
    font-size:40px ;
    text-align: center;
}