@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Assistant:wght@200&family=Barlow+Semi+Condensed:wght@200&family=Dancing+Script:wght@400;500;600;700&family=Dosis:wght@300&family=Fjalla+One&family=Karla:wght@300;500&family=Oswald&family=Pacifico&family=Patrick+Hand&family=Roboto+Condensed:ital,wght@1,300&family=Roboto:ital@1&family=Rowdies:wght@700&family=Titillium+Web:ital,wght@0,400;1,200&family=Yellowtail&display=swap');


* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    
}

body {

    display: grid;
    grid-template-columns: 1fr;

    background:linear-gradient(to left,#000000,#434343), url(https://images.pexels.com/photos/159760/computer-pc-workplace-home-office-159760.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Oswald', sans-serif;
    
}

/*  %%%%%%%%%%% full responsive header%%%%%%%%%%  */
nav {
    z-index: 10;
    background: linear-gradient(to bottom right,#000000,#434343);
    height: 7rem;
    width: 100%;
}

#navbar {
    z-index: 10;
}

#navbar {
    display: inline-block;
    top: 0.000000001px;
    position: sticky;

}


label.logo {
    font-family: 'Righteous', cursive;
    margin-left: 5rem;
    color: aliceblue;
    font-size: 4rem;
    line-height: 7rem;
    font-weight: bold;
}

nav ul {

    float: right;
    margin-right: 4rem;

}

nav ul li {
    display: inline-block;
    line-height: 7rem;
    margin: 0 0.5rem;

}

nav ul li a {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    padding: 0.7rem 2rem;
    border-radius: 0.3rem;
    font-family: 'Lato', sans-serif;

}

a:hover {
    background: #1b9bff;
    transition: 0.5s;

}

.checkbtn {
    font-size: 2rem;
    color: aliceblue;
    float: right;
    line-height: 8rem;
    margin-right: 2rem;
    cursor: pointer;
    display: none;

}

#check {
    display: none;

}

@media(max-width: 952px) {

    #navbar {
        z-index: 10;
    }

    nav {
        z-index: 10;
    }

    label.logo {
        font-size: 2.5rem;
        padding-left: 2rem;

    }

    nav ul li a {
        font-size: 2rem;

    }
}

@media(max-width:858px) {
    .checkbtn {

        display: block;
    }

    #navbar {
        z-index: 10;
    }

    nav {
        z-index: 10;
    }


    ul {
        z-index: 8;
        position: fixed;
        width: 100%;
        height: 100%;
        background: #2c3e50;
        top: -100%;
        left: 0rem;
        transition: all 0.5s;
        text-align: center;

    }

    nav ul li {
        display: block;
        margin: 5rem 0;
        line-height: 3rem;

    }

    nav ul li a {

        font-size: 2rem;
    }

    a:hover {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        top: 7rem;
    }
}

@media(max-width:400px) {
    label.logo {
        font-size: 2.2rem;
        margin-left: 0px;
    }
}




/*%%%%%%%%%%intro%%%%%%%*/
.intro {
    padding-top: 5rem;
    width: 100%;
    z-index: 6;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    color: rgb(0, 0, 0);


}

.biglogo {

   
    font-size: 20rem;
    margin-bottom: 4rem;
}

.intro-item {

   
}

.umax {
    padding-top:1rem ;
    
    font-size: 30rem;
    
   
    color:white;
    justify-content: center;
}

.cc {
    margin-top: -7rem;
    font-size: 9rem;
    color: white;
    margin-bottom: 3rem;
   
    
}
.namaste{
    color: white;
    font-size: 10rem;
    margin-bottom: -10rem;
    font-family: 'Dancing Script', cursive;
}
.extra {
    margin: 2rem;
    margin-bottom: 15rem;
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-bottom:8rem ;
    padding-top: 4rem;

}
@media(max-width:450px)
{
    .extra {
        padding-top: 10rem;
      font-size: 3.5rem;
    }  
   
    
}

/* about-section */


.about-section {

    background-color: #402aea;
    margin: 2rem;
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    color: white;
}

.about-text {
    padding: 8rem;
}

.about-text h1 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 8rem;
}
.about-text h3{
    font-family: 'Patrick Hand', cursive;
}
.about-text p {
    font-size: 4rem;
    font-family: 'Dancing Script', cursive;

    
}

.about-img img {
    height: 60rem;
    width: 80rem;
}



/* *********COURSES******** */

.course-section {

    background-color: #402aea;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 2rem;
    margin-right: 2rem;
}

.course-item {
    padding: 5rem;
    background-color: #1b9bff;
    margin: 2rem;
}




/* contact us */
.contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    background:linear-gradient( to bottom right ,#4b6cb7,#182848);
    padding: 4rem;
    color: white;
}

.map-iframe {
    width: 60rem;
    height: 40rem;
    background-color: #2193b0;
}

.contact-mail {
    border: 0.2rem solid white;
    border-radius: 1rem;
    text-align: center;
    padding: 1.8rem;
}

.contact-mail h1 {
    font-family: 'Rowdies', cursive;
    font-size: 6rem;
    line-height: 8rem;

}

.contact-mail h2 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 8rem;
    font-size: 5rem;

}

.contact-mail h3 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 8rem;
    font-size: 5rem;

}

.contact-mail p {
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 8rem;
    font-size: 5rem;

}





/* ******media-fire for responsive */
@media(max-width:400px) {
    .cc {
        font-size: 4rem;
    }
    .umax{
        font-size:20rem ;
    }
}

@media(max-width:1560px) {
    html {
        font-size: 8px;
    }
}

@media(max-width:1300px) {
    .about-text {
        padding: 6rem;
    }

    .about-text h1 {
        font-size: 7rem;
    }

    .about-text p {
        font-size: 3.2rem;
    }

    .about-img img {
        height: 50rem;
        width: 60rem;
    }
}

@media(max-width:900px) {
  
    .about-section {
 display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-items: center;
    }
    .contact-mail h1 {
        font-size: 5rem;
        line-height: 6rem;
    
    }
    
    .contact-mail h2 {
        line-height: 6rem;
        font-size: 4rem;
    
    }
    
    .contact-mail h3 {
        line-height: 6rem;
        font-size: 4rem;
    
    }
    
    .contact-mail p {
        line-height: 6rem;
        font-size: 3rem;
    
    }
    .map-iframe {
        width: 50rem;
        height: 40rem;
        background-color: #2193b0;
    }
    .contact-mail {
        margin-top: 2rem;
        padding-top: 2rem;
        
        border-radius: 1rem;
        text-align: center;
    }
    .contact-section {
        display: grid;
        grid-template-columns: 1fr;

        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        background-color: aqua;

    }
    

    .about-text {
        padding: 5rem;
    }

    .about-text h1 {
        text-align: center;
        font-size: 5rem;
    }

    .about-text p {
        text-align: center;
        font-size: 2.5rem;
    }

    .about-img img {
        height: 50rem;
        width: 60rem;
    }

    .about-img {
        grid-row: 1/2;
    }
}

@media(max-width:600px) {
    
    .namaste{
        display: none;
    }
    
      .cc {
        font-size: 6rem;
    }
    .umax{
        padding-top: 5rem;
        font-size:20rem ;
    }
    .about-img img {
        height: 30rem;
        width: 40rem;
    }
    .contact-section{
        margin-left: 0;
        margin-right: 0;
    }

    .about-section {
        /* height: 80rem; */
        background-color: #402aea;
        margin: 0rem;
        margin-top: 4rem;

    }
}

@media(max-width:800px) {
    .about-text h1 {
        text-align: center;
        font-size: 8rem;
    }

    .about-img img {
        height: 25rem;
        width: 35rem;
    }

    .about-text p {
        text-align: center;
        font-size: 3rem;
    }

}

@media(max-width:1200px) {
    .course-section {
        margin-top: 2rem;
        grid-template-columns: 1fr 1fr 1fr;

    }

}

@media(max-width:900px) {}

@media(max-width:800px) {
    .course-section {

        grid-template-columns: 1fr 1fr 1fr;

    }
}

@media(max-width:600px) {
    .course-section {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .course-section {

        grid-template-columns: 1fr 1fr;

    }
}

@media(max-width:340px) {
    .course-section {

        grid-template-columns: 1fr;

    }
}

@media(max-width:1200px) {
    .course-section {
        margin-top: 2rem;
        grid-template-columns: 1fr 1fr 1fr;

    }

}



@media(max-width:800px) {
    .course-section {

        grid-template-columns: 1fr 1fr 1fr;

    }
}

@media(max-width:600px) {
    .course-section {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .course-section {

        grid-template-columns: 1fr 1fr;

    }
}

@media(max-width:340px) {
    .course-section {

        grid-template-columns: 1fr;

    }
}
@media(max-width:380px){
    .umax {
        margin-top: -7rem;
        font-size:20rem ;
    }
    .extra {
        padding-top: 5rem;
      font-size: 3.5rem;
    } 
    
}

